<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">La bodega</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" >Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../cart">Carrito</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../login" >Cerrar sesion</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
    <br>
    <br>
  <div class="container">
      <nav class="navbar navbar-light bg-light">
        <h3>Catalogo de productos</h3>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    <div class="catalogo bg-light">
      <img src="../../../assets/imagenesBase/aguacate.jpg">
      <img src="../../../assets/imagenesBase/ajo.jpg">
      <img src="../../../assets/imagenesBase/almendras.jpg">
      <img src="../../../assets/imagenesBase/arandanos.jpg">
      <img src="../../../assets/imagenesBase/brocoli.png">
      <img src="../../../assets/imagenesBase/calabaza.jpg">
      <img src="../../../assets/imagenesBase/canela.jpg">
      <img src="../../../assets/imagenesBase/cebolla.jpg">
      <img src="../../../assets/imagenesBase/fresa.jpg">
      <img src="../../../assets/imagenesBase/kiwi.jpg">
      <img src="../../../assets/imagenesBase/limon.jpg">
      <img src="../../../assets/imagenesBase/lychee.jpg">
      <img src="../../../assets/imagenesBase/maiz.jpg">
      <img src="../../../assets/imagenesBase/manzana.jpg">
      <img src="../../../assets/imagenesBase/naranja.jpg">
      <img src="../../../assets/imagenesBase/papa.jpg">
      <img src="../../../assets/imagenesBase/pasta.jpg">
      <img src="../../../assets/imagenesBase/pimienta.jpg">
      <img src="../../../assets/imagenesBase/repollo.jpg">
      <img src="../../../assets/imagenesBase/tomate.jpg">
      <img src="../../../assets/imagenesBase/zanahoria.jpg">
    </div>
  </div>
  <br><br>
</body>
</html>